<ion-header>
    <ion-navbar>
        <ion-title>SQLite</ion-title>
        <ion-buttons end>
            <button (click)="openModal($event)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="home">
    <ion-list>
        <ion-item-sliding *ngFor="let item of items">
            <ion-item (click)="updateStatus(item)">
                <ion-icon *ngIf="item.done == 'no'" danger item-left name="checkmark"></ion-icon>
                <ion-icon *ngIf="item.done == 'yes'" secondary item-left name="checkmark"></ion-icon>
                {{item.title}}
            </ion-item>
            <ion-item-options>
                <button danger (click)="delete(item)">
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
